{% extends 'base.html' %}

{% block title %} Travian Index {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            {% for alliance in alliances %}
            <h6>{{ alliance }}</h6>
            <ul>
            {% for player in alliances[alliance] %}
            <li><a href="{{ url_for('players.index', player_id=player['id']) }}">{{ player['name'] }}</a>({{ player['id'] }})</li>
            {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
    });
</script>
{% endblock scripts %}